html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    background-image: url("C:\Users\adith\Desktop\vineet\src\images\top-bg.png");
    background-repeat: no-repeat;
    background-position: 50vw 15vw;
    background-size: 50vw;
}

.section{
    margin: 0 8.06vw;
}
/* @media screen and (max-width: 992px){
    .section{
        margin: 1vw;
    }
} */